body {
padding-top: 70px;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: arial, sans-serif;
}

.navbar {
     position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    display: flex;
    align-items: center;
    padding: 15px 40px;
    background-color: #2e2c2c;
}

.logo {
    font-family: "Caveat", cursive;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}


.nav-menu {
    list-style: none;
    display: flex;
    margin-left: 680px; 
}

.nav-menu li {
    margin-left: 20px;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}

.nav-menu a:hover {
    color: #039aff;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .nav-menu {
        margin-left: 0;
        margin: 15px;
    }
}


.home {
    display: flex;
    align-items: center;
    padding: 80px 40px;
    min-height: 80vh;

    background: #3c3c52;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 6%, rgba(9, 9, 121, 1) 100%, rgba(0, 212, 255, 1) 0%);
}

.home-text {
    flex: 1;
}

.home-text h1 {
    font-family: "Science Gothic", sans-serif;
    font-weight: 400px;
    letter-spacing: 2px;
    font-size: 40px;
}

.home-text p{
    font-size: 14px;
}

.home-img {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.foto-saya {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url("../IMG/fotosaya.jpeg");
    background-size: cover;
    background-position: center;
    border: 4px solid #fff;
    box-shadow: 0px -4px 8px rgb(105, 105, 234);
}

@media (max-width: 768px) {
    .home {
        flex-direction: column;
        text-align: center;
        padding: 100px 20px;
    }

    .home-text {
        margin-bottom: 30px;
    }

    .home-img {
        justify-content: center;
    }

    .foto-saya {
        width: 220px;
        height: 220px;
        transform: translateY(0);
    }
}


.about {
    min-height: 70vh;
    background-color: #dccdcd;
    padding: 120px 40px;
    text-align: center;
    border-top: 6px solid #777070c6;

    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 6%, rgba(9, 9, 121, 1) 100%, rgba(0, 212, 255, 1) 0%);
}

.about h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.about p {
    
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
}

.galeri {
    min-height: 100vh;
    padding: 100px 60px;
    border-top: 6px solid #777070c6;
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 6%, rgba(9, 9, 121, 1) 100%, rgba(0, 212, 255, 1) 0%);

    color: white;
    text-align: center;
}

.galeri-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.galeri-item {
    width: 200px;
    height: 200px;
    background-color: #444;
    margin: 15px;
    border-radius: 10px;
}

@media (max-width: 900px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .cards {
        grid-template-columns: 1fr;
        padding: 20px;
    }
}

.hobi {
    min-height: 50vh;
    padding: 100px 60px;
    border-top: 6px solid #777070c6;
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 6%, rgba(9, 9, 121, 1) 100%, rgba(0, 212, 255, 1) 0%);

    color: white;
    text-align: center;
}

.hobi-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.hobi1 {
    width: 200px;
    height: 200px;
    background-color: #444;
    margin: 15px;
    border-radius: 10px;
    background-image: url(../IMG/film.jpg);
    box-shadow: 5px 5px 5px rgba(37, 113, 199, 0.975)
}
.hobi2 {
    width: 200px;
    height: 200px;
    background-color: #444;
    margin: 15px;
    border-radius: 10px;
    background-image: url(../IMG/billiard.jpg);
    box-shadow: 5px 5px 5px rgba(37, 113, 199, 0.975)
}
.hobi3 {
    width: 200px;
    height: 200px;
    background-color: #444;
    margin: 15px;
    border-radius: 10px;
    background-image: url(../IMG/makan.jpg);
    box-shadow: 5px 5px 5px rgba(37, 113, 199, 0.975)
}
.hobi4 {
    width: 200px;
    height: 200px;
    background-color: #444;
    margin: 15px;
    border-radius: 10px;
    background-image: url(../IMG/main\ game.jpg);
    box-shadow: 5px 5px 5px rgba(37, 113, 199, 0.975)
}

.about-left, .hobi, .galeri, .contact h2{
    font-family: "Caveat", cursive;
    font-weight: 300px;
    font-size: 17px;
}

@media (max-width: 768px) {
    .hobi-container {
        justify-content: center;
    }

    .hobi1,
    .hobi2,
    .hobi3,
    .hobi4 {
        width: 160px;
        height: 160px;
    }
}

@media (max-width: 480px) {
    .hobi-container {
        flex-direction: column;
        align-items: center;
    }
}


.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 40px;
}

.card1 {
    background: #2e2c2c;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    transition: transform 0.3s ease;
}

.card-img1 {
    height: 180px;
    background-size: cover;
    background-position: center;
    background-image:url(../IMG/card1.jpg);
}

.card2 {
    background: #2e2c2c;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    transition: transform 0.3s ease;
}

.card-img2 {
    height: 180px;
    background-size: cover;
    background-position: center;
    background-image:url(../IMG/card2.jpeg);
}

.card3 {
    background: #2e2c2c;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    transition: transform 0.3s ease;
}

.card-img3 {
    height: 180px;
    background-size: cover;
    background-position: center;
    background-image:url(../IMG/card3.jpeg);
}

@media (max-width: 900px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .cards {
        grid-template-columns: 1fr;
        padding: 20px;
    }
}

.contact {
    min-height: 70vh;
    padding: 100px 40px;
    text-align: center;
    color: white;
    border-top: 6px solid #777070c6;

    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 6%, rgba(9, 9, 121, 1) 100%, rgba(0, 212, 255, 1) 0%);
}

.contact h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.contact p {
    margin-bottom: 40px;
}

.contact-form {
    max-width: 500px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 14px;
}

.contact-form button {
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #002aff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #002aff71;
}

@media (max-width: 600px) {
    .contact-form {
        width: 100%;
        padding: 0 10px;
    }
}
